@font-face {
  font-family: "Gilroy";
  font-weight: normal;
  font-style: normal;
  src: url("/Gilroy-ExtraBold.woff") format("woff");
}

/** Fractul SemiBold */
@font-face {
  font-family: "Gilroys";
  font-weight: normal;
  font-style: normal;
  src: url("/Gilroy-Light.woff") format("woff");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Gilroys", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: #3e3e3e;
  background-image: url('/bgg.jpg');
  color:#ffffff8f;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: "Gilroy" !important;
  font-weight: 900;
}

h2 {
  font-family: "Gilroy" !important;
}

.wallet-adapter-button-trigger {background: #4A868E !important;box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);}
.MuiPaper-root {
  border: 15px solid #1c1c1c;
  color: rgba(255, 255, 255, 0.753);
  background-color: #161616;
}
.main-info h4 {
  font-weight: 400;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  font-size: 28px;
}
.titles {
  color: #6ec2cd !important;
  font-weight: 700;
}
.case {display: flex;}
.case label {margin: 0;}
.case .case-desc {color:#ffffff75}
.MuiSlider-markLabelActive {color:#6ec2cd;font-weight: bold;}
.cta {border:1px solid #6cbec9;display: block;padding: 10px 10px;text-align: center;color:#6ec2cd;font-weight: 700;text-transform: uppercase;border-radius: 5px;margin-top: 10px;}
.prefix {width: 50%;}
.button-wrap button {width: 50%;}

@media only screen and (max-width: 600px) {
.MuiTypography-h1{font-size:50px;line-height: 45px;text-align: center;margin-bottom: 20px;}
.MuiTextField-root {width: 100%;}
.prefix {width: 100%;}
.button-wrap button {width: 100%;}}